$grey-primary: #E0E0E0;
$grey-secondary: rgba(0, 0, 0, 0.2);
$black-primary: #000000;
$black-secondary: #2E2E2E;
$white: #fff;
$color-primary-1: #B0052F;
$color-primary-2: #50112C;
$color-primary-hover: darken(#8A3030, 5%);
$color-secondary: #155499;
$secondary-bg: rgba(21, 84, 153, 0.05);

$gradient: linear-gradient(to right, $color-primary-1 0%, $color-primary-2 100%);
