* {
  font-family: 'Montserrat', sans-serif;
  color: $black-primary;
}

div, p, span {
  font-size: 14px;
}

p, ul {
  margin-bottom: 0;
}

.fz18 {
  font-size: 18px;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.section {
  padding: 100px 0;
  @media screen and (max-width: 767px) {
    padding: 70px 0;
  }
  @media screen and (max-width: 385px) {
    padding: 50px 0;
  }

  &-content {
    &--about {
      margin-bottom: 100px;
      @media screen and (max-width: 767px) {
        margin-bottom: 50px;
      }
    }

  }

  &-header {
    margin-bottom: 50px;
    @media screen and (max-width: 385px) {
      margin-bottom: 30px;
    }

    &--about {
      margin-bottom: 32px;
    }

    h3 {
      font-weight: bold;
      font-size: 50px;
      line-height: 130%;
      text-transform: uppercase;
      @media screen and (max-width: 991px) {
        font-size: 40px;
      }
      @media screen and (max-width: 767px) {
        font-size: 35px;
      }
      @media screen and (max-width: 385px) {
        font-size: 25px;
      }
    }

    h4 {
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 15px;
      @media screen and (max-width: 991px) {
        font-size: 19px;
      }
      @media screen and (max-width: 767px) {
        font-size: 17px;
      }
      @media screen and (max-width: 385px) {
        font-size: 15px;
      }
    }
  }
}

.btn.btn-custom {
  @include bg-gradient;
  border: none;
  color: $grey-primary;
  padding: 0 40px;
  font-weight: bold;
  font-size: 18px;
  transition: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: $color-primary-2;
    color: $white;
  }

  &:disabled {
    background: $grey-secondary;
    color: $white;
  }

  @media screen and (max-width: 385px) {
    height: 40px;
  }
}

.btn {
  &-icon {
    padding: 0;
  }
}

input[type="text"].form-control {
  font-size: 16px;
  line-height: 20px;
  border: 1px solid $grey-secondary;
  background-color: $white;
  height: 60px;
  padding-left: 25px;
  @media screen and (max-width: 991px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 385px) {
    height: 40px;
    font-size: 14px;
    padding-left: 15px;
  }

  &::placeholder {
    color: $grey-secondary;
  }
}

p.text {
  font-size: 14px;
  line-height: 1.5;

  &--medium {
    line-height: 1.7;
  }

  &--long {
    line-height: 1.9;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.checkbox {
  display: flex;

  &-input {
    display: none;

    &:checked + .checkbox-custom::before {
      position: absolute;
      border-radius: 2px;
      display: block;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
      background-color: $color-primary-1;
      content: "";
    }
  }

  &-custom {
    display: inline-block;
    margin-right: 8px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid $grey-secondary;
    border-radius: 3px;
  }
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 25px;
  font-size: 16px;
  line-height: 20px;
  background: url("../img/select-arrow.png") no-repeat center right 15px $white;
  border: 1px solid $grey-secondary;
  @include border-radius-5;
  height: 60px;
  position: relative;
}

select.form-control,
select.form-control option {
  color: $black-primary;
}

select.form-control:invalid,
select.form-control option[value=""] {
  color: $grey-secondary;
}

a {
  color: $color-secondary;
}

.burger-right {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 5%;
}
