.feedback {
  .slider {
    &-arrow {
      display: flex;
      align-items: center;

      svg {
        cursor: pointer;

        path {
          transition: all 0.3s;
        }

        &:hover {
          path {
            stroke: $color-secondary
          }
        }
      }

      &--next {
        transform: rotate(180deg);
      }

    }

    &-content {
      &__people {
        .person {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          @media screen and (max-width: 575px) {
            padding: 0 5px;
          }
          &:nth-child(3) {
            width: 50%;
          }
          img {
            max-width: 120px;
            @include shadow;
            border-radius: 100px;
            @media screen and (max-width: 991px) {
              width: 120px;
            }
            @media screen and (max-width: 767px) {
              width: 98px;
            }
            @media screen and (max-width: 575px) {
              max-width: none;
              width: 110px;
            }
            @media screen and (max-width: 479px) {
              width: 90px;
            }
          }

        }

        .person--2 {
          opacity: 0.5;

          img {
            max-width: 80px;
            margin: 0;
            @media screen and (max-width: 767px) {
              max-width: 70px;
            }
            @media screen and (max-width: 479px) {
              width: 43px;
            }
          }
        }

        .person--3 {
          opacity: 0.25;

          img {
            max-width: 40px;
          }
          @media screen and (max-width: 479px) {
            width: 37px;
          }
        }
      }
    }
  }
}
