.feedback {
  .slider {
    &-arrow {
      display: flex;
      align-items: center;

      svg {
        cursor: pointer;

        path {
          transition: all 0.3s;
        }

        &:hover {
          path {
            stroke: $color-secondary
          }
        }
      }

      &--next {
        transform: rotate(180deg);
      }

    }

    &-content {
      &__people {
        .person {
          display: flex;
          align-items: flex-end;
          justify-content: center;

          img {
            max-width: 120px;
            @include shadow;
            border-radius: 100px;
          }

        }

        .person--2 {
          opacity: 0.5;

          img {
            max-width: 80px;
            margin: 0;
          }
        }

        .person--3 {
          opacity: 0.25;

          img {
            max-width: 40px;
          }
        }
      }
    }
  }
}
