.filter {
  &-params {
    margin-bottom: 25px;

    li {
      cursor: pointer;
      margin-bottom: 15px;
    }

    li.active {
      color: $color-primary-1;
      border-bottom: 3px solid $color-primary-1;
    }
  }

  &-content {
    margin-bottom: 30px;
    width: 100% !important;
    height: auto !important;
    @include border-radius-5;
  }

  &-list {
    margin-bottom: 50px;

    &__item {
      margin-bottom: 20px;

      &-inner {
        max-height: 84px;
        overflow: hidden;
        display: flex;
        align-items: center;
        @include border-radius-5;

        img {
          @include shadow;
          cursor: pointer;
        }
      }
    }
  }
}
