.filter {
  &-params {
    margin-bottom: 25px;

    li {
      cursor: pointer;
      margin-bottom: 15px;
    }

    li.active {
      color: $color-primary-1;
      border-bottom: 3px solid $color-primary-1;
    }
  }

  &-content {
    margin-bottom: 30px;
    width: 100% !important;
    height: auto !important;
    max-height: 500px;
    display: flex;
    align-items: center;
    @include border-radius-5;
  }

  &-list {

    &__item {
      margin-bottom: 20px;

      &-inner {
        max-height: 84px;
        overflow: hidden;
        display: flex;
        align-items: center;
        @include border-radius-5;

        img {
          @include shadow;
          cursor: pointer;
        }
      }
    }
  }
}

.pagination {
    margin-bottom: 15px;
  &-pages {
    font-size: 19px;
    padding: 0 30px;
  }

  &-control {
    .btn-icon {
      font-size: 30px;
      color: $color-primary-1;
      border: none;

      &[disabled] {
        color: #5a6268;
      }
    }
  }
}
