.filter {
  &-params {
    margin-bottom: 25px;

    li {
      cursor: pointer;
    }

    li.active {
      color: $color-primary-1;
      border-bottom: 3px solid $color-primary-1;
    }
  }

  &-content {
    margin-bottom: 30px;
    width: 100% !important;
    height: auto !important;
    @include border-radius-5;
  }

  &-list {
    margin-bottom: 50px;

    &__item{
      img{
        @include border-radius-5;
        @include shadow;
        cursor: pointer;
      }
    }
  }
}
