.footer {
  background-color: $black-secondary;
  position: relative;

  a {
    color: $white;
  }

  &-info {
    padding: 70px 0;
    @media screen and (max-width: 385px) {
      padding: 50px 0;
    }
  }

  &-title {
    h5 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 60px;
      position: relative;
      font-weight: bold;
      color: $white;

      &::after {
        display: block;
        width: 70px;
        height: 2px;
        position: absolute;
        bottom: -15px;
        left: 0;
        background-color: $white;
        content: "";
        @include border-radius-5;
      }
    }
  }

  &-list {
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    p {
      color: $white;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .contacts {
    .info {
      position: relative;
      padding-left: 38px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        background-size: contain;
        background-position: top 0 left 0;
        background-repeat: no-repeat;
      }
    }

    &-address {
      &::before {
        background-image: url("../img/footer-geo.png");
        width: 18px;
        height: 26px;
        top: 4px;
      }
    }

    &-time {
      &::before {
        background-image: url("../img/footer-time.png");
        width: 18px;
        height: 18px;
        top: 4px;
      }
    }

    &-phone {
      &::before {
        background-image: url("../img/footer-phone.png");
        width: 18px;
        height: 18px;
        top: 2px;
      }
    }

    &-mail {
      &::before {
        background-image: url("../img/footer-mail.png");
        width: 18px;
        height: 16px;
        top: 3px;
      }
    }

    &-socials, &-tech {
      padding-left: 0 !important;

      &::before {
        display: none !important;
      }
    }

    &-socials {
      a {
        svg {
          transition: all 0.3s;

          &:hover{
            opacity: 0.5;
          }
        }
      }
    }

    .askque-link{
      text-decoration: underline;
      transition: all 0.3s;
      &:hover{
        color: lighten($color-primary-1, 25%);
      }
    }
  }

  #map {
    position: absolute;
    //height: 400px;
    width: 50%;
    margin: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
