.header {

  p {
    margin-bottom: 0;
  }

  &-decor {
    @include bg-gradient;
    height: 10px;
  }

  &-logo {
    display: inline-block;

    img {
      display: block;
      width: 120px;
      height: auto;
    }
  }

  &-info {
    padding: 15px 0;
    background-color: $grey-primary;

    &__contacts {
      .info {
        position: relative;
        padding-left: 30px;

        @media screen and (max-width: 575px) {
          padding-left: 0;
        }

        &:before {
          position: absolute;
          display: block;
          background-size: cover;
          content: "";
          background-repeat: no-repeat;
          background-position: left 0 top 0;
          left: 0;
        }
      }

      .address {
        &:before {
          width: 17px;
          height: 25px;
          background-image: url("../img/header-geo.svg");
          top: 10px;
        }
      }

      .time {
        &:before {
          width: 16px;
          height: 16px;
          background-image: url("../img/header-time.svg");
          top: 12px;
        }
      }

      .phone {&:before{
        width: 16px;
        height: 16px;
        background-image: url("../img/header-phone.svg");
        top: 4px;
      }


        @media screen and (max-width: 575px) {
          a{
            font-size: 30px !important;
          }
          &:before {
            display: none;
          }
        }

        a {
          font-size: 18px;
          font-weight: bold;
          color: $black-primary;

        }
      }

      p {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  .navbar {
    padding: 0;
    @include bg-gradient;
  }

  .nav {
    &-item {
      padding: 17px 0;
      margin-right: 54px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      color: $white;
      font-size: 18px;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#burger-menu{
  cursor: pointer;
  margin-left: -15px;

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: $grey-primary;
    stroke-width: 5.5;
    stroke-linecap: round;
  }

  .ham4 .top {
    stroke-dasharray: 40 121;
  }

  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }

  .ham4.active .top {
    stroke-dashoffset: -68px;
  }

  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
}
