.table {
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 0;
  @media screen and (max-width: 767px) {
    padding-left: 0;
  }
  &-row {
    border-bottom: 1px solid #CDCDCD;
    padding: 10px 0;

    &--header {
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid #939393;
    }
  }

  &-cell {
    padding-left: 25px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 385px) {
      padding-left: 15px;
    }
  }
}

.product-image {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    padding-left: 15px!important;
  }
  img {
    height: 294px;
    @include border-radius-5;
    @media screen and (max-width: 1199px) {
      height: auto;
    }
  }
}
