.slider {
  &-content {
    @include border-radius-5;
    img{
      @include border-radius-5;
    }
  }

  &-nav {
    li {
      @include border-radius-5;

      img {
        max-width: 123px;
        max-height: 58px;
        @include border-radius-5;
      }
    }

    li.active {
      img {
        border: 3px solid $color-primary-1;
      }
    }
  }
}
