.steps{
  .step{
    //max-width: 276px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-number{
      border-radius: 100px;
      min-width: 50px;
      width: 50px;
      height: 50px;
      background-color: $color-secondary;
      font-weight: bold;
      font-size: 28px;
      color: $white;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text{
      min-width: 194px;
      @media screen and (max-width: 991px) {
        min-width: 154px;
      }
    }
  }
}
